<?xml version="1.0"?>
<config>
    <modules>
        <CamelCase_Engravable>
            <version>1.0.0.1</version>
        </CamelCase_Engravable>
    </modules>
    <global>
        <resources>
            <camelcase_engravable_setup>
                <setup>
                    <module>CamelCase_Engravable</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </camelcase_engravable_setup>
        </resources>
        <helpers>
            <camelcase_engravable>
                <class>CamelCase_Engravable_Helper</class>
            </camelcase_engravable>
        </helpers>
        <blocks>
            <camelcase_engravable>
                <class>CamelCase_Engravable_Block</class>
            </camelcase_engravable>
        </blocks>
        <models>
            <camelcase_engravable>
                <class>CamelCase_Engravable_Model</class>
            </camelcase_engravable>
        </models>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <camelcase_engravable_set_custom_attributes>
                        <class>camelcase_engravable/observer</class>
                        <method>setCustomAttributes</method>
                    </camelcase_engravable_set_custom_attributes>
                </observers>
            </sales_quote_item_set_product>
        </events>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <engraved_name />
                        <engraved_date />
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <fieldsets>
            <sales_convert_quote_item>
                <engraved_name>
                    <to_order_item>*</to_order_item>
                </engraved_name>
                <engraved_date>
                    <to_order_item>*</to_order_item>
                </engraved_date>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <engraved_name>
                    <to_quote_item>*</to_quote_item>
                </engraved_name>
                <engraved_date>
                    <to_quote_item>*</to_quote_item>
                </engraved_date>
            </sales_convert_order_item>
        </fieldsets>
    </global>
    <default>
        <general>
            <camelcase_engravable>
                <character_cost>0.10</character_cost>
            </camelcase_engravable>
        </general>
    </default>
    <frontend>
        <layout>
            <updates>
                <camelcase_engravable>
                    <file>engravable.xml</file>
                </camelcase_engravable>
            </updates>
        </layout>
    </frontend>
</config>