<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <CamelCase_Tee>
            <version>0.1.7</version>
        </CamelCase_Tee>
    </modules>
        
    <global>
        <models>
            <camelcase_tee>
                <class>CamelCase_Tee_Model</class>
            </camelcase_tee>
        </models>
        <resources>
            <tee_setup>
                <setup>
                    <module>CamelCase_Tee</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </tee_setup>
        </resources>
        <events>
            <payment_method_is_active>
                <observers>
                    <camelcase_tee>
                        <type>model</type>
                        <class>camelcase_tee/observer</class>
                        <method>paymentMethodIsActive</method>
                    </camelcase_tee>
                </observers>
            </payment_method_is_active>
        </events>
    </global>
</config>
