<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <TeeShop_Import>
            <version>0.2.0.1</version>
        </TeeShop_Import>
    </modules>
    <global>
        <models>
            <teeshop_import>
                <class>TeeShop_Import_Model</class>
            </teeshop_import>
        </models>
        <helpers>
            <import>
                <class>TeeShop_Import_Helper</class>
            </import>
        </helpers>
        <resources>
            <import_setup>
                <setup>
                    <module>TeeShop_Import</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </import_setup>
        </resources>
    </global>
    <crontab>
        <jobs>
            <!--cron name in cron_schedule table-->
            <teeshop_import>
                <schedule>
                    <!--runs each day at midnight-->
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>teeshop_import/observer::import</model>
                </run>
            </teeshop_import>
        </jobs>
    </crontab>
</config>
