<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <TeeShop_Import>
            <version>0.2.0.0</version>
        </TeeShop_Import>
    </modules>
    <global>
        <models>
            <teeshop_import>
                <class>TeeShop_Import_Model</class>
            </teeshop_import>
        </models>
        <helpers>
            <teeshop_import>
                <class>TeeShop_Import_Helper</class>
            </teeshop_import>
        </helpers>
    </global>
</config>
