<?xml version="1.0"?>
<config>
    <modules>
        <CamelCase_Weather>
            <version>1.0.0.0</version>
        </CamelCase_Weather>
    </modules>
    <global>
        <helpers>
            <camelcase_weather>
                <class>CamelCase_Weather_Helper</class>
            </camelcase_weather>
        </helpers>
        <models>
            <camelcase_weather>
                <class>CamelCase_Weather_Model</class>
            </camelcase_weather>
        </models>
        <blocks>
            <camelcase_weather>
                <class>CamelCase_Weather_Block</class>
            </camelcase_weather>
        </blocks>
    </global>
    <default>
        <general>
            <camelcase_weather>
                <city>Cairo</city>
            </camelcase_weather>
        </general>
    </default>
    <frontend>
        <layout>
            <updates>
                <camelcase_weather>
                    <file>weather.xml</file>
                </camelcase_weather>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <CamelCase_Weather after="Mage_Adminhtml">CamelCase_Weather</CamelCase_Weather>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>