<?xml version="1.0"?>
<config>
    <modules>
        <Camelcase_Weather>
            <version>0.1.0</version>    <!-- Version number of your module -->
        </Camelcase_Weather>
    </modules>
    <frontend>
        <layout>
            <updates>
                <Camelcase_Weather>
                    <file>weather.xml</file>
                </Camelcase_Weather>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <weather>
                <class>Camelcase_Weather_Block</class>
            </weather>
        </blocks>
        <models>
            <weather>
                <class>Camelcase_Weather_Model</class>
            </weather>
        </models>
    </global>
</config>