<?xml version="1.0"?>
<config>
    <sections>
        <general>
            <groups>
                <camelcase_weather translate="label" module="camelcase_weather">
                    <label>Weather Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>900</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <city translate="label">
                            <label>City</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </city>
                    </fields>
                </camelcase_weather>
            </groups>
        </general>
    </sections>
</config>