<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <TeeShop_Core>
            <version>0.1.0.0</version>
        </TeeShop_Core>
    </modules>
    <default>
        <payment>
            <ccsave>
                <active>0</active>
            </ccsave>
        </payment>
        <catalog>
            <search>
                <!--3 means combined type (Like and fulltext)-->
                <search_type>3</search_type>
            </search>
        </catalog>
        <design>
            <package>
                <name>bare</name>
            </package>
            <theme>
                <skin></skin>
                <default>default</default>
            </theme>
            <pagination>
                <!--3 pages in paginations and the others are arrows-->
                <pagination_frame>3</pagination_frame>
                <Anchor_Text_for_Previous>Back</Anchor_Text_for_Previous>
                <Anchor_Text_for_Next>Next</Anchor_Text_for_Next>
            </pagination>
        </design>
        <catalog>
            <frontend>
                <grid_per_page_values>20,40,60</grid_per_page_values>
                <!--<list_per_page_values>5,10,15,20,25</list_per_page_values>-->
                <grid_per_page>20</grid_per_page>
                <!--<list_per_page>10</list_per_page>-->
            </frontend>
        </catalog>
    </default>
</config>
