app/*.*
app/code/core
app/code/community
app/design/adminhtml/default
app/design/frontend/base
app/design/frontend/default
app/design/frontend/rwd
app/design/install/default
app/etc/config.xml
app/etc/local.xml
app/etc/local.xml.*
app/etc/modules/Cm_*.xml
app/etc/modules/Mage_*.xml
app/etc/modules/Phoenix_*.xml
app/locale/en_US
downloader
errors
includes
js
lib
media
pkginfo
shell
skin/adminhtml/default
skin/frontend/base
skin/frontend/default
skin/frontend/rwd
skin/install/default
var
.htaccess
api.php
cron.php
cron.sh
favicon.ico
get.php
index.php
install.php
mage
LICENSE.html
!/app/code/local/TeeShop/Import/shell/