<?xml version="1.0"?>
<config>
    <modules>
        <Teeshop_Main>
            <version>1.0.0.0</version>
        </Teeshop_Main>
    </modules>

    <websites>
        <base>
            <design>
                <package>
                    <name>teeshop</name>
                </package>
                <theme>
                    <template>default</template>
                    <layout>default</layout>
                </theme>
            </design>
        </base>
    </websites>
</config>