<?xml version="1.0"?>
<config>
    <modules>
        <Camelcase_Admin>
            <version>0.1.0</version>    <!-- Version number of your module -->
        </Camelcase_Admin>
    </modules>
    
    <!-- ... -->
    <admin>
        <routers>
            <WeatherAdmin>
                <use>admin</use>
                <args>
                    <module>Camelcase_Admin</module>
                    <frontName>weather</frontName>
                </args>
            </WeatherAdmin>
        </routers>
    </admin>
    <!--    <frontend>
        <layout>
            <updates>
                <Camelcase_Admin>
                    <file>admin.xml</file>
                </Camelcase_Admin>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <admin>
                <class>Camelcase_Admin_Block</class>
            </admin>
        </blocks>
        <models>
            <admin>
                <class>Camelcase_Admin_Model</class>
            </admin>
        </models>
    </global>-->
</config>