<?xml version="1.0"?>
<config>
    <modules>
        <Teeshop_Engrave>
            <version>1.0.0</version>
        </Teeshop_Engrave>
    </modules>
    <global>
        <models>
            <teeshop_engrave>
                <class>Teeshop_Engrave_Model</class>
            </teeshop_engrave>
        </models>
        <resources>  
            <rings_setup>
                <setup>
                    <module>Teeshop_Engrave</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rings_setup>
        </resources>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <is_engravable />
                        <engraved_name />
                        <engraved_date />
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <fieldsets>
            <sales_convert_quote_item>
                <engraved_name>
                    <to_order_item>*</to_order_item>
                </engraved_name>
                <engraved_date>
                    <to_order_item>*</to_order_item>
                </engraved_date>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <engraved_name>
                    <to_quote_item>*</to_quote_item>
                </engraved_name>
                <engraved_date>
                    <to_quote_item>*</to_quote_item>
                </engraved_date>
            </sales_convert_order_item>
        </fieldsets>
    </global>
    <frontend>
        <layout>
            <updates>
                <engrave_catalog module="Teeshop_Engrave">
                    <file>engrave.xml</file>
                </engrave_catalog>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <teeshop_engrave_listen_cart_add>
                        <class>teeshop_engrave/observer</class>
                        <method>addCart</method>
                    </teeshop_engrave_listen_cart_add>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <sales_quote_add_item>
                <observers>
                    <teeshop_engrave_listen_quote_add>
                        <class>teeshop_engrave/observer</class>
                        <method>addItem</method>
                    </teeshop_engrave_listen_quote_add>
                </observers>
            </sales_quote_add_item>
        </events>
    </frontend>
    <default>
        <engrave>
            <general>
                <price_per_character>0.10</price_per_character>
            </general>
        </engrave>
    </default>
</config>