<?xml version="1.0"?>
<config>
    <modules>
        <Teeshop_Engrave>
            <version>1.0.0</version>
        </Teeshop_Engrave>
    </modules>
    <global>
        <resources>  
            <rings_setup>
                <setup>
                    <module>Teeshop_Engrave</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rings_setup>
        </resources>
    </global>
</config>